body {
    text-align: center;
    background-color: rgb(255, 72, 72);
}

#gesture_sub-heading{
    font-size: large;
    align-content: space-around;
}

#heading{
    color: rgb(194, 255, 217);
}

#click-button{
    background-color: rgb(255, 211, 113);
    color: rgb(157, 218, 198);
}

#text-result{
    color: rgb(194, 255, 217);
}

#emoji-result{
    font-size: large;
}

#check-button{
    background-color: rgb(255, 211, 113);
    color: rgb(157, 218, 198);
}